
@use 'sass:color';

@mixin redirect-button ($color) {
    border-radius: 25px;
    border: none;
    color: white;
    padding: 0.8em 2em;
    font-size: 1em;
    font-weight: 600;
    background-color: $color;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: color.adjust($color, $lightness: -10%);
    }
  }