/* Text */
$color-title: #353535;
$text-primary: #5E5E5E;

/* Main Colors */
$color-white: #FFFFFF;
$color-black: #353535;
$color-app-primary:#F22539;
$color-app-primary-hover: #C00E20;
$color-app-secondary: #ECA539;
$color-app-gray: #BFBFBF;
$color-background-primary:#F5F5F5;


/* box shadow*/
 $box-shadow-input:  10px 10px 5px 2px rgba(0,0,0,0.02);
 $box-shadow-general:  0 -2px 8px rgba(0, 0, 0, 0.2);
 $box-shadow-hoover:  10px 10px 5px 2px rgba(0,0,0,0.04);

/* Font family */
$font-family-app: "Lato", sans-serif;
$font-standart: 16px;
$font-title: 36px;
$font-general: 18px;

